<div class="country-localization">
  <div class="country-localization__content">
    <h2 class="visually-hidden" id="CountryLabel">{{ 'localization.country_label' | t }}</h2>
    <div class="country-localization__selector">
      <select name="country_code" class="country-localization__select" aria-labelledby="CountryLabel">
        <option value="JP" selected>Japan</option>
        <option value="US">United States</option>
        <option value="CA">Canada</option>
        <option value="GB">United Kingdom</option>
      </select>
    </div>
  </div>
</div>
