<div class="language-localization">
  <div class="language-localization__content">
    <h2 class="visually-hidden" id="LanguageLabel">{{ 'localization.language_label' | t }}</h2>
    <div class="language-localization__selector">
      <select name="language_code" class="language-localization__select" aria-labelledby="LanguageLabel">
        <option value="ja" selected>日本語</option>
        <option value="en">English</option>
      </select>
    </div>
  </div>
</div>
